<%= form_for([current_user, @comment]) do |f| %>
    <div class="field">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Comment' %>
    </div>
  <% end %>
  