<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/users.css">
</head>
<body>
  <h1>All Users</h1>
  <ul class="user-list">
    <li>
      <%= render @users %>
    </li>
  </ul>
</body>
</html>
