<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
  <div class="d-flex flex-column border border-dark w-75 m-3">
    <% @users.each do |user| %>
      <div class="d-flex flex-row">
        <div class="w-25 m-3">
          <img src="<%= user.photo %>">
        </div>
        <div class="border border-dark w-75 m-3">
          <h1><%= link_to user.name, user_path(user) %></h1>
          <p>Number of Posts: <%= user.posts.count %></p>
        </div>
      </div>
    <% end %>
  </div>
</body>
</html>