<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="d-flex">
  <img src="<%= @user.photo %>"> 
  <div class="border border-dark">
    <h1><%= @user.name %></h1>
    <p>Number of Posts: <%= @user.posts.count %></p>
  </div>
</div>
</body>
</html>
