<!DOCTYPE html>
<html>
<head>
  <title>Post Details</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'>
</head>
<body>
  <h1>Post Details</h1>
  <h2><%= @post.title %></h2>
  <p>Author: <%= @post.author.name %></p>
  <p>Created At: <%= @post.created_at.strftime('%B %d, %Y') %></p>
  <p><%= @post.text %></p>
</body>
</html>