<!DOCTYPE html>
<html>
<head>
  <title>User's Posts</title>
</head>
<body>
  <h1>User's Posts</h1>
  <h2>User: <%= @user.name %></h2>
  <ul>
    <% @user.posts.each do |post| %>
      <li>
        <h3><%= post.title %></h3>
        <p><%= post.created_at.strftime('%B %d, %Y') %></p>
        <p><%= post.content %></p>
      </li>
    <% end %>
  </ul>
</body>
</html>
